node_modules
dist

package-lock.json
yarn.lock   

senha.txt

**/node_modules/**
**/dist/**
yarn-error.log
/.idea/vcs.xml
/.idea/prizeDraw 2.iml
/.idea/modules.xml

.DS_Store
**/.DS_Store/**

.next
/.idea/misc.xml
/.idea/workspace.xml
